body {
  font-family: 'Varela Round', sans-serif;
  font-size: 1rem;
  background-color: #f1f1f1;
}

.content-img {
  width: 50%;
  height: auto;
  border-radius: 0.5rem;
  margin-top: 1rem;
  align-items: center;
}

h1 {
  color: #00539f;
  margin: 1rem 0rem 1rem 0rem;
}

h2, h3 {
  color: #666666;
  margin: 1rem 0rem 1rem 0rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
  color: #404040;
}

ul {
  margin-bottom: 2rem;
}

ul > li {
  list-style: none;
  color: #404040;
}

ol {
  color: #404040;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

ol > li {
  margin-bottom: 1rem;
}

.content {
  background-color: #fff;
  /* max-width: 500px; */
  max-width: 70vw;
  margin: auto;
  border-radius: 0.5rem;
}

.main-heading {
  margin: 2rem 0rem 0rem 2rem;
  padding: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe_detail_container {
  margin: 2rem;
}

.recipe-detail__list {
  margin-left: 2rem;
}

footer {
  background-color: #f1f1f1;
  color: #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-list > ul > li > a {
  color: #000 !important;
}

.footer-content {
  background-color: #f1f1f1;
  max-width: 70vw;
  margin: auto;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-list {
  display: flex;
  flex-direction: column !important;
  justify-content: space-around;
  margin: 0rem 4rem;
}

.odin-logo {
  height: 10rem;
  width: 12rem;
  background-color: #f1f1f1;
}

/* ! Navbar */

/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  background-color: #00539f;
  padding: 0 15px;
}

a {
  color: #fff;
  text-decoration: none;
}

.menu,
.submenu {
  list-style-type: none;
}

.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}

.item {
  padding: 10px;
}

.item.button {
  padding: 9px 6px;
}

.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu li a {
  display: block;
  padding: 5px 5px;
}

.menu li.subitem a {
  padding: 15px;
}

.toggle {
  order: 1;
  font-size: 20px;
}

.item.button {
  order: 2;
}

.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
  font-weight: 600;
}

.active .item {
  display: block;
}

.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}

/* Submenu up from mobile screens */
.submenu {
  display: none;
}

.submenu-active .submenu {
  display: block;
}

.has-submenu i {
  font-size: 12px;
}

.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}

.subitem a {
  padding: 10px 15px;
}

.submenu-active {
  background-color: #111;
  border-radius: 3px;
}

/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }

  /* Button up from tablet screen */
  .menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;
  }

  .button a {
    background: #0a192f;
    border: 1px royalblue solid;
  }

  .button.secondary {
    border: 0;
  }

  .button.secondary a {
    background: transparent;
    border: 1px #0a192f solid;
  }

  .button a:hover {
    text-decoration: none;
  }

  .button:not(.secondary) a:hover {
    background: royalblue;
    border-color: darkblue;
  }
}

/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }

  .button {
    order: 2;
  }

  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #111;
  }

  .toggle {
    display: none;
  }

  .submenu-active {
    border-radius: 0;
  }
}

#active-tab {
  border-bottom: 2px solid #fff;
}